{% extends 'base.html.twig' %}

{% block title %}Déontologie{% endblock %}

{% block main %}
<section class="homeCardCitation my-4">
<div class="card-body m-4">
<div class="card-title"><br>L’éthique s’intéresse aux valeurs et aux principes qui orientent nos choix et nos actions. Elle constitue le socle de la réflexion sur le “bien agir”. La déontologie, quant à elle, précise les règles, les devoirs et les responsabilités propres à une pratique professionnelle. Ces deux dimensions, complémentaires et indissociables, sont les fondements qui guident mon travail et ma manière d’accompagner. 
Dans le cadre de ma pratique professionnelle, je m’engage à respecter les principes suivants, garants d’un accompagnement sérieux, sécurisant et respectueux de chaque personne.</div>
    <br><hr><br>
    <p class="card-text">I. Confidentialité et cadre éthique
Respect du secret professionnel : toutes les informations échangées demeurent strictement confidentielles.
Levée du secret uniquement en cas de situation d’urgence, lorsque votre sécurité ou celle d’un tiers est gravement menacée.
Accueil de chaque personne dans le respect, la dignité et sans discrimination.
Posture professionnelle basée sur l’écoute active, la bienveillance et l’adaptation aux besoins spécifiques de chacun.
Supervision régulière et accompagnement personnel par des thérapeutes et psychothérapeutes, afin de garantir une pratique juste et alignée.<p>
<p>II. Cadre pratique et relationnel
Participation volontaire et libre, avec la possibilité d’interrompre l’accompagnement à tout moment.
Responsabilisation : mon rôle est de soutenir et de transmettre des outils, tout en respectant votre autonomie.
Respect des limites professionnelles : je ne pose pas de diagnostic médical et mon accompagnement ne remplace pas un suivi médical ou thérapeutique, mais peut s’y associer.
Engagement mutuel : le bon déroulement du travail repose sur la ponctualité, la régularité et le respect du cadre établi.</p>
<p>III. Engagements professionnels
Viser votre mieux-être et votre autonomie, grâce à l’acquisition des exercices et à la valorisation de vos ressources. Mon objectif n’est pas de vous accompagner indéfiniment.
Proposer un cadre de travail sécurisant, sérieux et respectueux.
Orienter vers des professionnel·le·s compétent·e·s si vos besoins dépassent mon champ d’action ou nécessitent un autre type d’accompagnement.
Être non jugeante, et respecter votre intégrité émotionnelle, affective, physique, mentale et spirituelle.
Exercer dans les limites de mes formations et compétences, et améliorer continuellement ma pratique, notamment en tenant compte de vos retours.
Répondre à vos questions dans les limites de mon savoir, sans prétendre à des pouvoirs ni à des qualifications que je ne possède pas.
Exercer sous supervision régulière afin de maintenir la qualité et l’éthique de mon accompagnement.
Vous informer clairement, dès le premier entretien, de mon cadre de travail et de ses modalités.
Assurer mon activité par une responsabilité civile professionnelle.</p><br>
  </div>
</section>

<section class="homeCardCitation my-4">
<div class="card-body">
<h5 class="card-title"><br>Cette charte constitue l’engagement que je prends envers chaque personne que j’accompagne, dans le respect de son intégrité, de son cheminement et de son autonomie.</h5>
    <br>
    <h6 class="card-subtitle mb-2 text-muted ">Votre engagement :</h6>
    <p class="card-text">
    <ul>1. Prendre connaissance de la charte déontologique et en respecter les principes.</ul><br>
    <ul>2. Respecter le cadre de travail :</ul>
    <ul style="padding-left:7rem;">
        <li>la relation professionnelle,</li>
        <li>le règlement des séances,</li>
        <li>les modalités de paiement,</li>
        <li>les conditions d’annulation (toute séance annulée moins de 48h ouvrées à l’avance est due).</li>
        <li>exprimer librement les difficultés rencontrées au cours de l’accompagnement, afin de permettre un ajustement du travail si nécessaire.</li>
        <li>vous respecter.</li>
    </ul>
    </p><br>
  </div>
</section>
{% endblock %}
