{% extends 'base.html.twig' %}

{% block title %}Déontologie
{% endblock %}

{% block main %}
	<section class="homeCardCitation my-4">
		<div class="card-body m-4">
			<div class="card-title text-justify"><br>L’<b>éthique</b>
				s’intéresse aux valeurs et aux principes qui orientent nos choix et nos actions. Elle constitue le socle de la réflexion sur le “bien agir”. La
				<b>déontologie</b>, quant à elle, précise les règles, les devoirs et les responsabilités propres à une pratique professionnelle. Ces deux dimensions, complémentaires et indissociables, sont les fondements qui guident mon travail et ma manière d’accompagner. 
					Dans le cadre de ma pratique professionnelle, je m’engage à respecter les principes suivants, garants d’un accompagnement sérieux, sécurisant et respectueux de chaque personne.</div>
			<br><hr><br>
			<p class="card-text">
				<div
					class="container my-5" style="max-width: 900px;">
					<!-- Section : Confidentialité et cadre éthique -->
					<div class="my-4 text-center fw-bold">
						I. Confidentialité et cadre éthique
					</div>
					<div class="row text-start">
						<div class="col-md-6">
							<ul>
								<li>Respect du secret professionnel : toutes les informations échangées demeurent strictement confidentielles.</li>
								<li>Levée du secret uniquement en cas de situation d’urgence, lorsque votre sécurité ou celle d’un tiers est gravement menacée.</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul>
								<li>Accueil de chaque personne dans le respect, la dignité et sans discrimination.</li>
								<li>Posture professionnelle basée sur l’écoute active, la bienveillance et l’adaptation aux besoins spécifiques de chacun.</li>
								<li>Supervision régulière et accompagnement personnel par des thérapeutes et psychothérapeutes, afin de garantir une pratique juste et alignée.</li>
							</ul>
						</div>
					</div>
				</div>

				<div
					class="container my-5" style="max-width: 900px;">
					<!-- Section : Cadre pratique et relationnel -->
					<div class="text-center fw-bold">
						II. Cadre pratique et relationnel
					</div>
					<div class="row text-start">
						<div class="col-md-6">
							<ul>
								<li>Participation volontaire et libre, avec la possibilité d’interrompre l’accompagnement à tout moment.</li>
								<li>Responsabilisation : mon rôle est de soutenir et de transmettre des outils, tout en respectant votre autonomie.</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul>
								<li>Respect des limites professionnelles : je ne pose pas de diagnostic médical et mon accompagnement ne remplace pas un suivi médical ou thérapeutique, mais peut s’y associer.</li>
								<li>Engagement mutuel : le bon déroulement du travail repose sur la ponctualité, la régularité et le respect du cadre établi.</li>
							</ul>
						</div>
					</div>
				</div>

				<div
					class="container my-5" style="max-width: 900px;">
					<!-- Section : Engagements professionnels -->
					<div class="my-4 text-center fw-bold">
						III. Engagements professionnels
					</div>
					<div class="row text-start">
						<div class="col-md-6">
							<ul>
								<li>Viser votre mieux-être et votre autonomie, grâce à l’acquisition des exercices et à la valorisation de vos ressources. Mon objectif n’est pas de vous accompagner indéfiniment.</li>
								<li>Proposer un cadre de travail sécurisant, sérieux et respectueux.</li>
								<li>Orienter vers des professionnel·le·s compétent·e·s si vos besoins dépassent mon champ d’action ou nécessitent un autre type d’accompagnement.</li>
								<li>Être non jugeante, et respecter votre intégrité émotionnelle, affective, physique, mentale et spirituelle.</li>
								<li>Exercer dans les limites de mes formations et compétences, et améliorer continuellement ma pratique, notamment en tenant compte de vos retours.</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul>
								<li>Répondre à vos questions dans les limites de mon savoir, sans prétendre à des pouvoirs ni à des qualifications que je ne possède pas.</li>
								<li>Exercer sous supervision régulière afin de maintenir la qualité et l’éthique de mon accompagnement.</li>
								<li>Vous informer clairement, dès le premier entretien, de mon cadre de travail et de ses modalités.</li>
								<li>Assurer mon activité par une responsabilité civile professionnelle.</li>
							</ul>
						</div>
					</div>
				</div>
			</p>
		</div>
	</section>

	<section class="homeCardCitation my-4">
		<div class="card-body"><br><br>
			<h5 class="card-title text-justify"><br>Cette charte constitue l’engagement que je prends envers chaque personne que j’accompagne, dans le respect de son intégrité, de son cheminement et de son autonomie.</h5>
			<br>
			<h6 class="card-subtitle mb-2 text-center">Votre engagement :</h6>
			<p class="card-text">
				<ul>1. Prendre connaissance de la charte déontologique et en respecter les principes.</ul><br>
				<ul>2. Respecter le cadre de travail :</ul>
				<ul>
					<li>la relation professionnelle,</li>
					<li>le règlement des séances,</li>
					<li>les modalités de paiement,</li>
					<li>les conditions d’annulation (toute séance annulée moins de 48h ouvrées à l’avance est due).</li>
					<li>exprimer librement les difficultés rencontrées au cours de l’accompagnement, afin de permettre un ajustement du travail si nécessaire.</li>
					<li>vous respecter.</li>
				</ul>
			</p><br>
		</div>
	</section>
{% endblock %}
