{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
<section class="p-5 pt-0">
  <div class="container home-center-container">
      <h2 class="homeSentence">"Ici, chaque souffle<br>devient une douce rencontre<br>avec soi même"</h2>
  </div>
</section>

<section class="homeCardCitation mt-4">
<div class="homeImg">
    <img src="asset/img/marjorie.jpg" alt="photo de Marjorie Denis" class="img-cover">
  </div>
  <div class="fs-5 mx-4 my-4">
    <p class="text-center">Je suis <b>Marjorie Denis</b>, accompagnante en approches psychocorporelles.</p>
    <br>
    <p class="text-justify">
    J’unis le mouvement somatique, le yoga, la méditation et la pleine conscience pour vous aider à apaiser le stress,
    transformer les traumatismes et retrouver vos ressources intérieures.<br>
    Mon approche bienveillante vous invite à <b>reconstruire l’histoire que raconte votre corps</b>,
    à renouer une relation intime et paisible avec lui ainsi qu’avec vos émotions,
    afin de cultiver équilibre, force et sérénité.</p>
  </div>
</section>

<section class="homeCardCitation my-4 d-flex flex-column flex-md-row">
  <div><br><br>
    <h2 class="homeCardSentence text-center"><em>Pleine conscience</em></h2><br><br>
    <p class="text-justify"><em>La Pleine Conscience (Mindfulness), soutenue par de nombreuses études scientifiques, aide à réduire le stress, réguler les émotions et améliorer le bien-être global. À travers méditation, yoga, mouvements somatiques et pratiques créatives, chaque séance offre un espace d’écoute et de transformation pour intégrer ces bienfaits dans votre quotidien et cultiver un équilibre durable, validé par la recherche.</em></p>
  </div>
  <div class="homeImg">
    <img src="asset/img/bol_tournesol.jpg" alt="bol dans les tournesols" class="img-cover">
  </div>
</section>

<section class="homeCardCitation my-4 d-flex flex-column-reverse flex-md-row">
  <div class="homeImg">
    <img src="asset/img/deux_mains.jpg" alt="deux mains sur un tapis" class="img-cover">
  </div>
  <div>
    <h2 class="homeCardSentence text-center"><em>Mouvement somatiques</em></h2><br><br>
    <p class="text-justify"><em>Nos postures façonnent nos émotions : à travers le Mouvement Somatique, il devient possible de libérer le corps de ses blocages, de rééduquer le système nerveux et de retrouver une relation plus douce, consciente et bienveillante avec soi-même.</em></p> 
  </div>
</section>

<section class="homeCardCitation my-4 d-flex flex-column flex-md-row">
  <div>
    <h2 class="homeCardSentence text-center"><em>Yoga</em></h2><br><br>
    <p class="text-justify"><em>Un yoga bienveillant et adapté, combinant Vinyasa, Yoga Restauratif, BackMitra et pratiques complémentaires (Body Mind Centering, Chi Qong, danse…). Chaque séance est un espace thérapeutique d’écoute et de présence, utilisant respiration, méditation et accessoires pour relâcher les tensions, apaiser le mental et régénérer le corps en profondeur.</em></p>
  </div>
  <div class="homeImg">
    <img src="asset/img/pied_tournesol.jpg" alt="image de pied dépassant d'un champ de tournesol" class="img-cover">
  </div>
</section>

<section class="homeCardCitation my-4 d-flex flex-column-reverse flex-md-row">
<div class="homeImg">
    <img src="asset/img/fleur_bleu.jpg" alt="un bleuet centauré" class="img-cover">
  </div>
  <div>
    <em class="fs-5"><br><br>"Grâce à l’accompagnement de Marjorie, j’ai appris à lâcher prise, à me recentrer et à redonner du sens à ma vie."<br><br></em>
    <p class="text-end pe-5">Jean-Yves, 58 ans</p><hr>
    <em class="fs-5">"Avec Marjorie, j’ai appris à transformer la douleur en ressources et à renaître à moi-même, plus forte et plus sereine."<br><br></em>
    <p class="text-end pe-5">Nadine, 55 ans</p>
    <a class="btn btn-dark d-block mx-auto col-6 btn-custom-radius" href="/témoignages" role="button">Plus de témoignages</a>
  </div>  
</section>
{% endblock %}