{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
<section class="p-5 pt-0">
  <div class="container home-center-container">
      <h2 class="homeSentence">"Ici, chaque souffle<br>devient une douce rencontre<br>avec soi même"</h2>
  </div>
</section>

<section class="homeCardCitation mt-4 flex-column">
  <div class="fs-5 mx-4 my-4">
    <p class="text-center">Je suis Marjorie Denis, accompagnante en approches psychocorporelles.</p>
    <br>
    J’unis le mouvement somatique, le yoga, la méditation et la pleine conscience pour vous aider à apaiser le stress,
    transformer les traumatismes et retrouver vos ressources intérieures.<br>
    Mon approche bienveillante vous invite à reconstruire l’histoire que raconte votre corps,
    à renouer une relation intime et paisible avec lui ainsi qu’avec vos émotions,
    afin de cultiver équilibre, force et sérénité.
  </div>
</section>

<section class="homeCardCitation my-4">
  <div>
    <h2 class="homeCardSentence text-center"><em>Pleine conscience</em></h2><br><br>
    <em>"Une prise de conscience est comme un soleil, lorsqu'il brille sur les choses, elles sont transformées."<br><br>
      <p class="text-end">Thich Nhat Hanh</p></em>
  </div>
  <div class="homeImg">
    <img src="asset/img/pissenlit.jpg" alt="un pissenlit" class="img-cover">
  </div>
</section>

<section class="homeCardCitation my-4">
  <div class="homeImg">
    <img src="asset/img/tree2.jpg" alt="feuillage d'arbre" class="img-cover">
  </div>
  <div>
    <h2 class="homeCardSentence text-center"><em>Mouvements somatiques</em></h2><br><br>
    <em>"Le corps humain n'est pas un instrument à utiliser, mais un domaine de son être à expérimenter, explorer, enrichir et, par conséquent, éduquer."<br><br>
      <p class="text-end">Thomas Hanna</p></em>   
  </div>
</section>

<section class="homeCardCitation my-4">
  <div>
    <h2 class="homeCardSentence text-center"><em>Yoga</em></h2><br><br>
    <em>"Le succès du yoga ne réside pas dans notre habileté à performer des postures, mais comment il change notre façon de vivre notre vie et nos 
    relations."<br><br>
      <p class="text-end">T.K.V.Desikachar </p></em>
  </div>
  <div class="homeImg">
    <img src="asset/img/tournesols_pied_h.jpg" alt="image de pied dépassant d'un champ de tournesol" class="img-cover">
  </div>
</section>

<section class="homeCardCitation my-4">
  <div>
    <em class="fs-5">"Grâce à l’accompagnement de Marjorie, j’ai appris à lâcher prise, à me recentrer et à redonner du sens à ma vie."<br><br></em>
    <p class="text-end pe-5">Jean-Yves, 58 ans</p><hr>
    <em class="fs-5">"Avec Marjorie, j’ai appris à transformer la douleur en ressources et à renaître à moi-même, plus forte et plus sereine."<br><br></em>
    <p class="text-end pe-5">Nadine, 55 ans</p>
    <a class="btn btn-dark d-block mx-auto col-6" href="/témoignages" role="button">Plus de témoignages</a>
  </div>  
</section>
{% endblock %}