{% extends 'base.html.twig' %}

{% block title %}Accompagnement{% endblock %}

{% block main %}
<section class="homeCardCitation my-4">
<div class="card-title">
    <h3>Mon approche d’accompagnement</h3>
    <div class="card-body">
        <p class="card-text text-center">« L’objectif d’un éducateur n’est pas de faire taire le symptôme, fut-il dérangeant, mais de l’entendre, pour accompagner le sujet dans sa prise en compte, dans la découverte de ce qui, en lui, cherche à se dire.»<br>
        <p class="text-end pe-5">J. Roussel</p> <br><br>
        <p class="m-4">J’accompagne les personnes à travers une <b>approche psychocorporelle</b>, reliant le corps, les émotions et l’esprit.<br>
           Mes séances s’appuient sur les mouvements somatiques, le yoga, la méditation et la pleine conscience, afin de favoriser des changements profonds et durables, et de transmettre des outils concrets pour retrouver équilibre, force intérieure et sérénité.<br>
           Mes formations donnent à mon travail deux dimensions complémentaires : <b>l’enseignement</b> et <b>l’accompagnement</b>.<br>
           Mon parcours au sein du secteur de la santé mentale, en tant qu’éducatrice spécialisée, m’a permis d’acquérir une compréhension fine des troubles psychiques et de leurs impacts. Cette expertise me permet d’adapter mes accompagnements ainsi que d’orienter vers d’autres professionnels si nécessaire.<br>
           Chaque séance est un espace sûr et bienveillant où vous pouvez explorer vos ressentis, apprivoiser vos émotions et développer de nouvelles ressources. Mon objectif n’est pas de vous accompagner indéfiniment, mais de vous transmettre des pratiques concrètes et intégrer de nouvelles habitudes qui vous permettront pas à pas de gagner en autonomie et en confiance.<br>
           Je me consacre tout particulièrement à <b>la régulation émotionnelle, la réduction du stress et l'accompagnement des traumatismes</b>. Grâce à la puissance transformatrice des pratiques corporelles et de la méditation, enrichies d’exercices simples et accessibles, <b>je vous accompagne à relâcher les tensions, apaiser certaines douleurs et améliorer sa posture ainsi que cultiver une présence plus sereine, mieux gérer le quotidien et trouver des repères stables</b>, même au cœur des périodes de turbulence.</p>
        </p><br><br>
    </div>
</section>
{% endblock %}
