{% extends 'base.html.twig' %}

{% block title %}Accompagnement{% endblock %}

{% block main %}
<section class="homeCardCitation my-4">
<div class="card-title">
    <h3>Mon approche d’accompagnement</h3>
    <div class="card-body">
        <div class="container my-5" style="max-width: 900px;">
  
  <!-- Section : Améliorations -->
  <div class="my-4 text-center fw-bold">
    L'accompagnement permet l'amélioration de :
  </div>

  <div class="row text-start">
    <div class="col-md-6">
      <ul>
        <li>La gestion des émotions et du stress</li>
        <li>La concentration (TDA/TDAH)</li>
        <li>Le lâcher-prise et l'acception</li>
        <li>L'estime de soi</li>
        <li>Le sommeil</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Les interactions sociales et la communication</li>
        <li>La connaissance de soi et le respect de ses limites</li>
        <li>La flexibilité physique et mentale</li>
        <li>La force physique et mentale</li>
        <li>La posture</li>
      </ul>
    </div>
  </div>

  <!-- Section : Diminutions -->
  <div class="my-4 text-center fw-bold">
    La diminution de :
  </div>

  <div class="row text-start">
    <div class="col-md-6">
      <ul>
        <li>Douleurs chroniques</li>
        <li>Ruminations mentales et pensées négatives</li>
        <li>Anxiété chronique</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Addictions et comportements à risque</li>
        <li>Excès de colères</li>
        <li>Insécurités</li>
      </ul>
    </div>
  </div>

</div>


</div>
        <p class="m-4 text-justify">J’accompagne les personnes à travers une <b>approche psychocorporelle</b>, reliant le corps, les émotions et l’esprit.<br>
           Mes séances s’appuient sur les mouvements somatiques, le yoga, la méditation et la pleine conscience, afin de favoriser des changements profonds et durables, et de transmettre des outils concrets pour retrouver équilibre, force intérieure et sérénité.<br>
           Mes formations donnent à mon travail deux dimensions complémentaires : <b>l’enseignement</b> et <b>l’accompagnement</b>.<br>
           Mon parcours au sein du secteur de la santé mentale, en tant qu’éducatrice spécialisée, m’a permis d’acquérir une compréhension fine des troubles psychiques et de leurs impacts. Cette expertise me permet d’adapter mes accompagnements ainsi que d’orienter vers d’autres professionnels si nécessaire.<br>
           Chaque séance est un espace sûr et bienveillant où vous pouvez explorer vos ressentis, apprivoiser vos émotions et développer de nouvelles ressources. Mon objectif n’est pas de vous accompagner indéfiniment, mais de vous transmettre des pratiques concrètes et intégrer de nouvelles habitudes qui vous permettront pas à pas de gagner en autonomie et en confiance.<br>
           Je me consacre tout particulièrement à <b>la régulation émotionnelle, la réduction du stress et l'accompagnement des traumatismes</b>. Grâce à la puissance transformatrice des pratiques corporelles et de la méditation, enrichies d’exercices simples et accessibles, <b>je vous accompagne à relâcher les tensions, apaiser certaines douleurs et améliorer sa posture ainsi que cultiver une présence plus sereine, mieux gérer le quotidien et trouver des repères stables</b>, même au cœur des périodes de turbulence.</p>
        </p><br><br>
    </div>
</section>
{% endblock %}
