{% extends 'base.html.twig' %}

{% block title %}Mes pratiques{% endblock %}

{% block main %}
<section class="practicalCard mt-5"><br><br><br>
    <h3 id="practitalsTitle">Vinyasa Yoga</h3>
    <div class="container-fluid d-flex align-items-center">
      <img src="asset/img/tournesols_pied_h.jpg" alt="Image d'un champ de tournesols avec des pieds qui dépassent." class="img-practice" height="350px">  
        <p class="yoga-text text-justify">Une séance dure entre 1h15 et 1h30. Le Vinyasa Yoga se compose de mouvements actifs ou doux qui sont
synchronisés avec la respiration. Les postures (asana) et les mouvements effectuées participent au bien
être des organes, au développement de l’équilibre, de la concentration, du renforcement musculaire ainsi
que de la flexibilité, dans l’écoute et le respect du corps. Tout au long de la séance, les personnes sont
amenées à exercer une conscience corporelle, et donc posturale.<br>
À cela s’ajoutent des exercices de respiration (pranayama), des auto-massages, une possible utilisation
d’accessoires et de la méditation (dyhana). À la différence du Hatha qui est une pratique plutôt statique, le
Vinyasa comprend une suite de mouvements fluides qui permettent de préparer le corps à tenir la ou les
postures (asana) choisies.<br>
Comme dans toutes les activités que je propose, je porte une attention particulière à l’apaisement du
système nerveux, au traitement de soi-même avec bienveillance et au développement d’une meilleure
connaissance de soi afin d’expérimenter une pratique adaptée à ses propres besoins.<br><br>
Le Vinyasa Yoga est une forme de yoga moderne, né de la tradition de l’Ashtanga Yoga, un yoga
rigoureusement dynamique. Le Hatha Yoga est une pratique qui serait née cinq mille ans avant notre ère et
il est à la source de la plupart des pratiques modernes du yoga : Vinyasa, Ashtanga, Iyengar, etc. C’est la
raison pour laquelle les postures exécutées dans le Yatha Yoga se retrouvent dans une séance de Vinyasa.<br><br>
Il existe donc différentes formes de yoga et différents enseignements du yoga ; l’essentiel est de trouver
une pratique et l’enseignant·e qui correspondent à ses besoins.</p><br><br>
    </div>
</section>

<section class="practicalCard mt-5"><br><br><br><br>
    <h3 id="practitalsTitle">Yoga restauratif</h3>
    <div class="container-fluid d-flex align-items-center" id="container-fluid-inverse">
        <p class="yoga-text text-justify">Une séance dure entre 1h15 et 1h30. Le Yoga Restauratif consiste en une relaxation active et la
stimulation du système nerveux parasympathique. Il favorise la relaxation, le sommeil et la bonne santé
de manière générale. Le but n’est pas de dormir, mais de rester « présent » durant toute la séance en
cultivant un état méditatif à l’aide de positions au travers desquelles il est possible de se « déposer ».<br><br>
Les postures sont maintenue 5 à 20 minutes, elles se pratiquent en grande partie allongées au sol avec
l’emploi d’accessoires tels que des couvertures, des chaises, des bolsters (gros coussins) qui favorisent la
sensation de confort et l'adaptation de la posture (asana) aux besoins et limitations du corps. Il m'arrive
d'ajouter aux postures des exercices de respiration.<br><br>
Le Yoga Restauratif fût développé à partir du Yoga de B.K.S Iyengar.</p>
        <img src="asset/img/bol_h.jpg" alt="Bol tibetin" height="300px" class="img-practice">
    </div><br><br>
</section>

<section class="practicalCard mt-5"><br><br>
    <h3 id="practitalsTitle" class="text-center">Restauration<br>du dos</h3>
    <div class="container-fluid d-flex align-items-center">
            <img src="asset/img/backmitra.jpg" alt="" height="300px" class="img-practice">
            <p class="yoga-text text-justify">Au cours de mes séances de Yoga Restauratif, j’emploie la technique des mouvements somatiques et la
backmitra, un accessoire créé afin de soulager les tensions dorsales et stimuler le système nerveux
parasympathique, dont le nerf vague. Cela consiste en des mouvements doux, lents et simples, effectués
avec précision et répétition pour aider à une meilleure libération des tensions musculaires.<br>
La backmitra se positionne le long de la colonne vertébrale ou du sacrum. Elle permet de créer une
pression dans des zones clés du système nerveux central et donc d’accroître la stimulation du système
nerveux parasympathique. Par ailleurs, placée le long de la colonne vertébrale, elle permet également un
meilleur travail sur les muscles dorsaux. En plus de cet accessoire, des ballons malléables très peu gonflés
peuvent être utilisés. Associés à des mouvements lents, ils produisent un massage doux, le relâchement
des fascias ainsi que l’activation du système nerveux parasympathique.<br><br>
Avec tant de branches de Yoga différents on peut se sentir perdu. Le Yoga Restauratif est souvent
confondu avec le Yin Yoga. A titre d'information, sachez que les séances de Yin Yoga se construisent sur
un choix de méridiens à stimuler grâce à des étirements profonds ou des pressions créées par les positions
maintenues, ce qui peut être un réel effort et inadapté pour certaines personnes. Dans le Yoga Restauratif,
nous nourrissons la présence, le non effort et le relâchement toal en profitant des bienfaits de la posture.</p>
    </div>
</section>
{% endblock %}