{% extends 'base.html.twig' %}

{% block title %}Témoignages{% endblock %}

{% block main %}
<section class="testimonialCard m-5 p-5">
    <div>
        <h3 class="testimonialName">Nadine L.</h3>
        <p class="testimonialText">"J’ai rencontré Marjorie en 2021 lors de cours de yoga proposés dans une association. En quelques semaines, j’ai découvert une souplesse 
        jusqu’alors totalement inaccessible. Après avoir quitté cette association, j’ai eu la chance de la retrouver dans un centre médical 
        psychiatrique. Là, j’ai découvert la pleine conscience, méthode qui, encore aujourd’hui, m’apporte au quotidien apaisement, douceur et 
        lâcher-prise. En février 2024, lors d’un « séisme psychologique » provoqué par un traumatisme vécu trente ans plus tôt et qui a ressurgi 
        subitement dans ma vie, Marjorie a été d’une écoute remarquable, avec des paroles et des conseils qui m’ont immédiatement permis de rebondir.
        Ma réaction et mon besoin à ce moment-là étaient de m’isoler de peur car la terreur m'anéantissait, mais grâce aux ateliers de yoga de 
        Marjorie, chaque semaine, j’en sortais plus forte. <br><br>

        La diversité de ses ateliers m’a permis de réaliser beaucoup de choses et de comprendre que J’EXISTAIS et que le bonheur pouvait faire partie 
        de ma vie. C’est à 55 ans qu’elle m’a permis de passer à autre chose, de surmonter ce traumatisme en en sortant plus forte que jamais et de 
        prendre des moments pour Moi et rien que pour Moi, grâce à toutes ces choses que je fais tous les jours en pleine conscience. Pour moi, c’est 
        Marjorie qui m’a empêchée de m’effondrer dans un des moments les plus douloureux de ma vie. Je ne la remercierai jamais assez pour tout ce 
        qu’elle m’a apporté"
        </p>
    </div>
</section>

<section class="testimonialCard m-5 p-5">
    <div>
        <h3 class="testimonialName">Jean-Yves M, 58 ans.</h3>
        <p class="testimonialText">"Cadre commercial depuis de nombreuses années, je pensais que ma vie était plutôt réussie. Puis, sont arrivés 
        quelques accros : accident de voiture, diverses petites choses et un infarctus. Bien qu’ils semblaient pourtant sans gravité, j’ai eu beaucoup 
        de mal à reprendre le travail ou à comprendre même ce qu’il se passait autour de moi. J’avais du mal à interagir sur tout. Pour aller mieux, 
        le psychiatre m’a conseillé de faire une thérapie de relaxation avec Marjorie. Elle a commencé par m’expliquer qu’il fallait que je pense à 
        moi. Quelle drôle d’idée ! Toutefois, petit à petit, je me suis rendu compte que j’étais complètement à côté de la plaque. De son côté, 
        progressivement, elle nous a aidés à nous centrer sur nous-mêmes, à mieux comprendre notre vie et à appréhender ce qu'on pouvait en faire. 
        Surtout, elle nous a accompagnés à lâcher prise, accepter et mieux vivre chaque instant avec le recul nécessaire. <br><br>

        Aujourd’hui, ma vie a complètement changé. Je me sens bien dans mes pompes, plus ouvert et plus accessible ! Pour la plupart des personnes du 
        groupe auquel je faisais partie, Marjorie a vraiment réussi à redonner du sens à nos décisions, à mieux les assumer, même si elles sont 
        désormais différentes de celles que l’on pouvait prendre auparavant. J’arrive enfin, aujourd’hui, à être en harmonie avec ce qui m’entoure et 
        à être tout simplement bien."
        </p>
    </div>
</section>

<section class="testimonialCard m-5 p-5">
    <div>
        <h3 class="testimonialName">Nicolas D, 24 ans.</h3>
        <p class="testimonialText">"J'ai commencé mes séances avec Marjorie dans le cadre d'un traitement d'une dépression. Une rencontre par hasard, 
        dans un centre de jour. J'ai pu y pratiquer plusieurs formes de méditation : des moments statiques où l'on explore le milieu extérieur sans 
        jugement, des formes en mouvements dits somatiques où l'on explore les sensations dans son corps, toujours sans le juger et en apprenant à le 
        respecter. Enfin, j'ai pu explorer d'autres formes de méditation que je connaissais moins, mais non moins intéressantes : la marche méditative 
        où l'on concilie une activité banale du quotidien avec la méditation, où encore des activités en groupe où le lâcher-prise était au cœur de 
        l'exercice. <br><br>

        J'en retiens de bons moments, hors du temps où je me sentais toujours mieux en partant qu'en arrivant. Un respect absolu des limites de chacun, 
        une bienveillance et mise en confiance totale de la part de Marjorie, sans quoi je n'aurais pas été capable de faire certains exercices. 
        J'ai aussi acquis une capacité à "mettre en pause" des pensées tourbillonnantes afin de faire un point et d'apaiser mon esprit. <br><br>

        En bref, je ne peux qu'encourager toute personne à essayer, vous serez accueillie par une personne très bienveillante, calme, qui sait mettre 
        en confiance avec une forte empathie, et qui est totalement respectueuse des limites de chacun. Aucun jugement ne sera au rendez-vous, et 
        chacun pourra progresser à son rythme, avec ses particularités, même dans un travail de groupe."
        </p>
    </div>
</section>

<section class="testimonialCard m-5 p-5">
    <div>
        <h3 class="testimonialName">Xavière L.</h3>
        <p class="testimonialText">"J’ai eu l’occasion de suivre des séances de yoga, de méditation de pleine conscience et de mouvements somatiques 
        avec Marjorie. Celles-ci m’ont beaucoup apporté. <br><br>

        À l’écoute, compréhensive, patiente et pédagogue, Marjorie m’a fait découvrir toutes ces disciplines me permettant ainsi d’appréhender et 
        réagir différemment aux diverses situations de vie qui peuvent se présenter au quotidien. Par exemple, l’exercice du roseau ou de la montagne 
        m’ont appris à prendre de la distance et à rester calme lors de moments difficiles. Le raisin m’a appris à profiter désormais de chaque instant 
        en conscience. Les exercices de respiration et de cohérence cardiaque ont encore approfondi la maîtrise de soi, le retour au calme et le 
        développement des capacités respiratoires. Les mouvements somatiques, l’utilisation de balles et tout particulièrement de la Backmitra m’ont 
        aidé à garder et développer ma souplesse et mes muscles, ainsi qu’à travailler sur la respiration. Chaque aspect de l’accompagnement est 
        complémentaire et permet en conséquence un travail en profondeur dans toutes les dimensions, physiques et psychiques. <br><br>

        À regret, j’ai vu Marjorie partir du centre de jour où je suivais ses séances, mais je me réjouis que d’autres puissent bénéficier de son 
        accompagnement et ses précieux conseils."
        </p>
    </div>
</section>

<section class="testimonialCard m-5 p-5">
    <div>
        <h3 class="testimonialName">Julie A.</h3>
        <p class="testimonialText">"J’ai eu la grande chance de pouvoir suivre les enseignements de Marjorie, pendant une longue période et dans 
        diverses activités qu’elle pouvait proposer. <br><br>

        Les mouvements somatiques, le yoga ou la pleine conscience, je ne saurai pas vous dire lequel j’ai préféré. Les trois sont très différents, 
        mais ils amènent chacun quelque chose de formidablement éducatif sur la connaissance de soi. <br><br>

        Marjorie est une personne très douce et vraie comme nous avons rarement l’occasion d’en rencontrer aujourd’hui. Tout en sachant rester très 
        professionnelle et maintenir un groupe pouvant être très hétérogène, c’est aussi une personne ouverte d’esprit et, malgré son jeune âge 
        possède une forme de sagesse et d’humilité qui la rend très intéressante. <br><br>

        Tout cela lui prodigue une sorte de don avec lequel elle arrive à vous donner envie de dépasser votre propre zone de confort pour une plus 
        grande évolution personnelle tout en douceur et dans le respect. <br><br>
        
        Je la remercie pour la personne qu’elle est et ce qu’elle m’a apporté. Je conseille à tout le monde qui le pourra, de faire un morceau de 
        chemin de vie avec elle, vous pourrez réaliser par vous-même que c’est une vraie chance et du bonheur à l’état pur."
        </p>
    </div>
</section>
<section class="testimonialCard m-5 p-5">
    <p class="testimonialText text-center">Il ne tient qu'à vous d'écrire le prochain témoignage...</p>
</section>
<div>
<hr>
</div>
{% endblock %}

{% block javascript %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  const sections = document.querySelectorAll('.testimonialCard');

  sections.forEach(section => {
    // Générer des valeurs HSL pastel
    const hue = Math.floor(Math.random() * 360);
    const pastel = `hsl(${hue}, 70%, 85%)`;
    section.style.backgroundColor = pastel;
  });
});
</script>
{% endblock %}