{% extends 'base.html.twig' %}

{% block title %}Témoignages
{% endblock %}

{% block main %}
	<section class="testimonialCard my-5 p-5">
		<div class="m-4"><br><br>
			<p class="text-justify">
				<em>"Cadre commercial depuis de nombreuses années, je pensais que ma vie était plutôt réussie. Puis, sont arrivés
																									
																									        quelques accros : accident de voiture, diverses petites choses et un infarctus. Bien qu’ils semblaient pourtant sans gravité, j’ai eu beaucoup 
																									        de mal à reprendre le travail ou à comprendre même ce qu’il se passait autour de moi. J’avais du mal à interagir sur tout. Pour aller mieux, 
																									        le psychiatre m’a conseillé de faire une thérapie de relaxation avec Marjorie. Elle a commencé par m’expliquer qu’il fallait que je pense à 
																									        moi. Quelle drôle d’idée ! Toutefois, petit à petit, je me suis rendu compte que j’étais complètement à côté de la plaque. De son côté, 
																									        progressivement, elle nous a aidés à nous centrer sur nous-mêmes, à mieux comprendre notre vie et à appréhender ce qu'on pouvait en faire. 
																									        Surtout, elle nous a accompagnés à lâcher prise, accepter et mieux vivre chaque instant avec le recul nécessaire.
					<br><br>

					Aujourd’hui, ma vie a complètement changé. Je me sens bien dans mes pompes, plus ouvert et plus accessible ! Pour la plupart des personnes du 
																									        groupe auquel je faisais partie, Marjorie a vraiment réussi à redonner du sens à nos décisions, à mieux les assumer, même si elles sont 
																									        désormais différentes de celles que l’on pouvait prendre auparavant. J’arrive enfin, aujourd’hui, à être en harmonie avec ce qui m’entoure."
				</em>
			</p>
			<h3>
				<em>Jean-Yves M, 58 ans</em>
			</h3>
		</div>
	</section>

	<section class="testimonialCard my-5 p-5">
		<div class="m-4"><br><br>
			<p class="text-justify">
				<em>"J’ai rencontré Marjorie en 2021 lors de cours de yoga dans une association. En quelques semaines, j’ai découvert une souplesse qui m’avait toujours semblé inaccessible. Plus tard, dans un centre médical psychiatrique, j’ai découvert avec elle la pleine conscience, une pratique qui m’apporte encore aujourd’hui apaisement, douceur et lâcher-prise.
					<br><br>
					En février 2024, lors d’un véritable “séisme psychologique” provoqué par le réveil d’un traumatisme vécu trente ans plus tôt, Marjorie a fait preuve d’une écoute remarquable. Ses paroles et ses ateliers de yoga hebdomadaires m’ont permis de retrouver des forces alors que la peur et la terreur m’anéantissaient.
					<br><br>
					À 55 ans, elle m’a aidée à tourner la page d’un traumatisme ancien, à m’accorder des moments rien que pour moi et à pratiquer chaque jour la pleine conscience. Marjorie m’a empêchée de sombrer dans l’une des périodes les plus douloureuses de ma vie."
				</em>
			</p>
			<h3>
				<em>Nadine L</em>
			</h3>
		</div>
	</section>

	<section class="testimonialCard my-5 p-5">
		<div class="m-4"><br><br>
			<p class="text-justify">
				<em>"Les séances avec Marjorie m’ont ouvert à des pratiques riches et variées, comme le yoga, la pleine conscience et les mouvements somatiques. Grâce à son écoute et à sa bienveillance, j’ai découvert des exercices simples mais puissants, qui m’aident aujourd’hui à traverser les difficultés du quotidien avec plus de calme et de clarté. Qu’il s’agisse d’apprendre à rester ancré comme une montagne, à savourer chaque instant en pleine conscience ou à retrouver le calme grâce à la respiration, chaque expérience a été une vraie ressource. Les mouvements somatiques et les outils proposés, comme la Backmitra, m’ont aussi permis de préserver souplesse et énergie. Ce travail, à la fois corporel et intérieur, m’a apporté plus de sérénité et d’équilibre au quotidien. "
				</em>
			</p>
			<h3>
				<em>Xavière L</em>
			</h3>
		</div>
	</section>

	<section class="testimonialCard my-5 p-5">
		<div class="m-4"><br><br>
			<p class="text-justify">
				<em>"J’ai eu la grande chance de suivre les enseignements de Marjorie dans différentes pratiques : mouvements somatiques, yoga et pleine conscience. Chacune m’a apporté une meilleure connaissance de moi-même et un chemin unique vers l’évolution personnelle.
					<br><br>
					Marjorie est une personne douce, vraie et profondément humaine, tout en étant très professionnelle. Elle sait maintenir la cohésion d’un groupe hétérogène avec ouverture d’esprit, sagesse et humilité, qualités rares à son âge.
					<br><br>
					Son accompagnement m’a donné envie de sortir de ma zone de confort en douceur et dans le respect. Je la remercie pour tout ce qu’elle m’a apporté et je recommande à chacun de croiser sa route : c’est une véritable chance et un grand bonheur."
				</em>
			</p>
			<h3>
				<em>Julie A</em>
			</h3>
		</div>
	</section>

	<section class="testimonialCard my-5 p-5">
		<div class="m-4"><br><br>
			<p class="text-justify">
				<em>"J'ai commencé mes séances avec Marjorie dans le cadre d'un traitement d'une dépression. Une rencontre par hasard,	
					dans J’ai commencé les séances avec Marjorie dans le cadre d’un traitement d’une dépression. J’y ai découvert plusieurs formes de méditation : la pratique statique tournée vers l’exploration sans jugement, le mouvement somatique pour ressentir et respecter mon corps, la marche méditative ainsi que des activités en groupe centrées sur le lâcher-prise. Ces moments hors du temps m’apportaient toujours plus de calme et de bien-être.
					<br><br>
					Marjorie instaure un climat de confiance et de bienveillance absolue, respectant les limites de chacun. Grâce à son accompagnement, j’ai appris à “mettre en pause” mes pensées tourbillonnantes pour retrouver clarté et apaisement. Je recommande vivement son approche douce, empathique et sans jugement, qui permet à chacun de progresser à son rythme, même en groupe"
				</em>
			</p>
			<h3>
				<em>Nicolas D, 24 ans</em>
			</h3>
		</div>
	</section>

	<section class="testimonialCard my-5 p-5">
		<p class="text-center">
			<em>Il ne tient qu'à vous d'écrire le prochain témoignage...</em>
		</p>
	</section>
{% endblock %}
