{% extends 'base.html.twig' %}

{% block title %}Séances{% endblock %}

{% block main %}
<section class="homeCardCitation mt-4 vh-100">
<p class="text-center">Cette page viendra très bientôt. Merci de votre patience.</p>

</section>
{% endblock %}
