* {
    margin: 0;
    padding: 0;
}

#logo {
    font-family: "Dancing Script", serif;
    padding-left: 2rem;
}

#navbarNav {
    justify-content: center;
    padding-left: 10rem;
}

/* Liens de la navbar */
.navbar .nav-link {
    font-size: 1rem; /* Taille de base : lisible mais plus discrète que fs-4 */
    font-weight: 300; /* Plus léger pour un style doux et épuré */
    letter-spacing: 0.5px; /* Un léger espacement pour l'élégance */
    color: #333; /* Couleur neutre pour plus de sobriété */
    transition: color 0.3s ease, font-weight 0.3s ease;
}

/* Effet au survol */
.navbar .nav-link:hover {
    color: #AED3EA; /* Couleur douce pour rappeler une ambiance zen */
}

main {
    padding-top: 180px;
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

.homeSentence {
    font-family: "Dancing Script", serif;
    margin: 4rem 0 17rem 0;
    font-size: 43px;
}

@media (max-width: 1220px) {
    .homeSentence {
        font-size: 30px;
        padding-top: 45px;
    }
}

.text-justify {
    text-align: justify;
}

.homeCardCitation {
    background-color: #FFEDE5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 3rem;
    transition: background-color 0.5s ease;
    border-radius: 15px 250px 15px 250px;
}

.homeImg {
    width: 100%;
    max-width: 500px; /* Ajuste selon ton design */
    height: 500px; /* Hauteur souhaitée */
    overflow: hidden;
    position: relative;
    margin: auto; /* Pour centrer */
    transition: transform 0.6s ease;
  }

.homeImg:hover {
  transform: scaleX(-1); /* flip horizontal */
}

.img-cover {
    height: 100%;
    width: 100%; /* Remplit la largeur du conteneur */
    object-fit: cover; /* Ajuste l'image pour remplir le conteneur */
    border-radius: 15px 250px 15px 250px;
}

.home-center-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments horizontalement */
    text-align: center; /* Centrer le texte */
    gap: 10px; /* Espacement entre le texte et l'image */
}

#practitalsTitle {
    font-size: 35px;
    font-style: italic;
}

.yoga-text {
    font-weight: 300;
    margin: 70px;
    font-size: 19px;
}

.practicalCard {
    border-radius: 15px 250px 15px 250px;
    background-color: #FFEDE5;
}

.whoAmICard{
    background-color: #FFEDE5;
    border-radius: 15px 250px 15px 250px;
}

.contactCard {
    background-color: #FFEDE5;
    border-radius: 15px 250px 15px 250px;
    font-style: italic;
    font-size: 19px;
    font-weight: 300;

}

.btn-custom-radius {
    border-radius: 15px 250px 15px 250px !important;
}

.testimonialCard{
    border-radius: 15px 250px 15px 250px;
    background-color: #FFEDE5;  
}

.img-practice {
    border-radius: 15px 250px 15px 250px;
    transition: transform 0.6s ease;
}

.img-practice:hover {
  transform: scaleX(-1); /* flip horizontal */
  /* transform: scaleY(-1); Retour vertical */
}

h3 {
    display: flex;
    justify-content: center;
    padding: 3rem 0 2rem 0 ;
}

@media (max-width: 768px) {
    .navbar .nav-link {
        font-size: 0.9rem;
        font-weight: 400;
    }
}

@media (max-width: 1220px) {
    .container-fluid {
        flex-direction: column;
    }

    #container-fluid-inverse{
        flex-direction: column-reverse;
    }

    .img-practice {
        padding: 30px 0 0 30px;
    }
}