{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main %}
<div class="container-fluid" style="margin-top:12rem;font-size:25px;">
  <div class="contactCard mb-5">
    <p class="text-center py-3">Pour me contacter et discuter de votre bien être</p>
  </div>
  <div class="contactCard">
    <div class="row">
      <div class="col-md-6 border-end text-center pt-2">
        <h5>Email</h5>
        <p><a href="mailto:contact@example.com" style="text-decoration: none; color: black;">m-denis2@gmx.fr</a></p>
      </div>
      <div class="col-md-6 text-center pt-2">
        <h5>Téléphone</h5>
        <p><a href="tel:+33123456789" style="text-decoration: none; color: black;">+33 1 23 45 67 89</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  const sections = document.querySelectorAll('.contactCard');
  sections.forEach(section => {
    // Générer des valeurs HSL pastel
    const hue = Math.floor(Math.random() * 360);
    const pastel = `hsl(${hue}, 70%, 85%)`;
    section.style.backgroundColor = pastel;
  });
});
</script>
{% endblock %}