{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block main %}
	<div class="container" style="margin-top:9rem;font-size:25px;">
		<div class="contactCard mb-5"><br><br><br>
			<p class="text-center py-3">Pour me contacter et
				<br>discuter de votre bien être</p><br>
			<div class="text-center pt-2">
				<a href="mailto:contact@example.com" id="contact-mail">m-denis@gmx.fr</a>
			</div><br><br><br>
		</div>
	</div>

<style>
	#contact-mail {
		text-decoration: none;
		color: black;
		transition: color 0.3s ease;
    font-weight: bold;
	}

	#contact-mail:hover {
		color: #AED3EA;
	}
</style>
{% endblock %}
