{% extends 'base.html.twig' %}

{% block title %}Qui suis-je ?{% endblock %}

{% block main %}
<section class="whoAmICard mx-5" style="margin-top:10rem;">
<div class="whoAmIText p-5 m-5">Je m’appelle Marjorie Denis et je suis diplômée comme éducatrice spécialisée depuis 2017. Portée par des valeurs humanistes, 
j’ai accompagné des enfants, des adolescents et des adultes aux besoins multiples à trouver plus de confort dans leurs vies. De 2016 à 2019, 
lors de la crise des réfugiés en Grèce, j’ai été à la fois activiste, militante et travailleuse sociale, avec une idée bien précise : défendre le droit
 de tout être humain à vivre dignement. J’ai frôlé l’épuisement professionnel dans ce contexte chargé de difficultés et de souffrances ; 
 une réalité éprouvante à laquelle je faisais face en partie grâce à ma pratique quotidienne du yoga. Au cours de cette étape, j’ai beaucoup appris sur
  la valeur de la vie. Cela m'a amené à approfondir ma pratique de la méditation et du yoga, ainsi que de commencer un travail (psycho)thérapeutique.<br><br>

Depuis 2021, je travaille comme indépendante avec des particuliers, des institutions et des associations du secteur sanitaire et social : centres de 
jour de santé mentale, Protection Judiciaire de la Jeunesse, établissements pénitentiaires, maisons de quartier.<br><br>

Je m’intéresse particulièrement à l’amélioration de la santé mentale, à la diminution de l’anxiété chronique et au traitement des traumatismes au moyen
 du corps, de la Pleine Conscience et de la méditation. Afin d’avoir une posture juste dans le travail que je mène, je suis moi-même accompagnée de 
 professionnel.les thérapeutes et psychothérapeutes.<br><br>

J’ai commencé mes premiers cours de Hatha Yoga en 2008, à 18 ans, suite à une dépression. En 2019, j’ai entrepris une formation de deux cents heures 
de Hatha Vinyasa avec le centre Yoga & Yoga Barcelona en Espagne, au cours de laquelle j’ai appris à adapter le yoga aux besoins des participant·es. 
J’ai, entre autres, été formée par une thérapeute. <br><br>

De 2020 à 2023, j’ai réalisé une formation en Yoga Restauratif, restauration du dos et mouvements somatiques, Backmitra et Yin Yoga avec le centre Yoga
 & Yoga Barcelona et Zonaioga en Espagne. J’ai reçu un enseignement de qualité en anatomie et plus spécifiquement en neurologie (système nerveux). Tous
  ces diplômes sont certifiés Yoga Alliance. <br><br>

En 2021, j’ai effectué une formation en ligne de yoga en prison axée sur les traumatismes (Prison Yoga Project) et des stages en Communication Non 
Violente. <br><br>

Depuis 2022, je suis inscrite dans le cursus de formation pour être instructrice du programme de réduction du stress basé sur la Pleine Conscience 
(Mindfulness Based Stress Reduction) avec l’ADM. Je serai diplômée fin 2025. <br><br>

Enfin, je me perfectionne actuellement (2024-2025) auprès de Lisa Petersen (Living Yoga) pour être enseignante de mouvements somatiques selon 
l’approche de Thomas Hanna. Le diplôme de 200h est certifié Yoga Alliance. <br><br>

Je ne dispense pas un yoga dogmatique bien que je porte un profond respect aux racines du yoga ainsi que de la méditation, j’ai par ailleurs des 
pratiques personnelles basées sur des enseignements de lignées traditionnelles. J’ai, à mon actif, plusieurs années de différentes pratiques 
corporelles telles que la danse contact improvisation et le BodyMind Centering qui influencent aussi la composition de mes séances centrées sur le 
corps en mouvement. Je suis une personne ouverte et curieuse, qui se forme continuellement et qui considère que la convergence des savoirs est plus 
enrichissante qu’un savoir restreint, l’essentiel étant de se faire du bien selon ses propres besoins.
</div>
</section>
{% endblock %}
