{% extends 'base.html.twig' %}

{% block title %}Qui suis-je ?{% endblock %}

{% block main %}
<section class="whoAmICard"><br><br>
<div class="text-justify fs-5 p-5 my-5">Je m'appelle Marjorie Denis. Diplômée éducatrice spécialisée en 2017 et pratiquante de Yoga depuis 2008, 
j’ai développé une expertise alliant accompagnement <br>social et outils de bien-être. Mon expérience personnelle m’a permis de comprendre en profondeur 
l’apport du yoga et de la méditation dans le soutien de la santé mental, car c'est à 18 ans suite à une dépression que j'ai découvert le Hatha Yoga.<br><br>
Portée par des valeurs humanistes, j’ai accompagné différents publics aux besoins multiples à trouver plus de confort dans leurs vies. Mon expérience 
en tant que militante et travailleuse sociale durant la crise des réfugiés en Grèce (2016-2019) a été un enseignement profond concernant la valeur de 
la vie et m'a sensibilisée à l’impact des traumatismes psychiques. Cela m’a amenée à orienter ma pratique vers la santé mentale et physique.<br><br>
Depuis 2021, j’interviens auprès de particuliers, en individuel comme en groupe, à domicile, en studios de yoga, ainsi qu’au sein d’institutions et 
d’associations du secteur sanitaire et social : centres de jour en santé mentale, Protection judiciaire de la jeunesse, protection de l’enfance, maisons de quartier, etc.<br>
Je m’intéresse particulièrement au traitement des traumatismes, à la réduction du stress et à la régulation des émotions par le biais du corps : 
le mouvement, la respiration, la pleine conscience et la méditation. <br><br>
Afin de maintenir une posture juste dans le travail que je mène, j'ai effectué des psychothérapies et je reste accompagnée par des professionnel·le·s,
 thérapeutes et psychothérapeutes.<br><br><br>
  <div class="homeImg">
    <img src="asset/img/marjorie.jpg" alt="Marjorie en image" class="img-cover">
  </div><br><br>
De 2014 à 2017 : Bachelier en éducation spécialisée en accompagnement psycho-éducatif, Bruxelles. <br><br>
De 2019 à 2020 : Hatha Vinyasa (200h) avec le centre Yoga & Yoga Barcelona en Espagne. J’ai, entre autres, été formée par une thérapeute. <br><br>
De 2020 à 2023 : Yoga Restauratif, restauration du dos et mouvements somatiques (60h), Backmitra (12h) et Yin Yoga (40h) avec le centre Yoga & Yoga Barcelona et Zonaioga en Espagne. J’ai reçu un enseignement de qualité en anatomie et plus spécifiquement en neurologie (système nerveux). Toutes ces formations étaient en présentiel et les diplômes sont certifiés Yoga Alliance. <br><br>
En 2021 : formation en ligne de yoga en prison axée sur les traumatismes, auprès de Prison Yoga Project (24h). <br><br>
En 2025 : Coach en Mouvements Somatiques (200h), formée auprès de Lisa Petersen (Living Yoga). Une technique basée sur l’approche de Thomas Hanna. Le diplôme est certifié Yoga Alliance. <br><br>
Depuis 2022, je suis inscrite dans le cursus de formation pour être instructrice du programme de réduction du stress basé sur la Pleine Conscience (Mindfulness Based Stress Reduction) avec l’ADM. Une formation ponctuée de retraites, que j'effectue avec lenteur et intégration. <br><br>
J'ai aussi participé des stages en Communication Non Violente (1, 2, 3) et de pratiques corporelles telles que le BodyMind Centering ou la danse contact improvisation, des approches qui influencent mon travail. <br><br>

En ce qui concerne mes séances de yoga, je ne dispense pas un yoga dogmatique bien que je porte un profond respect aux racines du yoga ainsi que de la méditation, j’ai par ailleurs des pratiques personnelles basées sur des enseignements de lignées traditionnelles. Je suis une personne ouverte et curieuse, qui aime apprendre et qui se forme continuellement. Je considère que la convergence des savoirs est plus enrichissante qu’un savoir restreint, l’essentiel étant de se faire du bien selon ses propres besoins.
</div><br><br>
</section>
{% endblock %}
